<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.yaodong.lbaction.pip</string>
	<key>CFBundleName</key>
	<string>PIP</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Yaodong Zhao</string>
		<key>LBEmail</key>
		<string>zhao@yaodong.org</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string>http://yaodong.org</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Yaodong Zhao</string>
</dict>
</plist>
